@define-color bg #1b2b34;
@define-color fg #dee3eb;
@define-color gray1 #9fc69a;
@define-color gray2 #6a747c;
@define-color gray3 #6d9dca;
@define-color gray4 #f8c76b;
@define-color gray5 #c49ac4;
@define-color fg_bright #dee3eb;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}